.banner {
    margin-top: 0;
    padding: 260px 0 130px 0;
    background-image: url("../assets/img/banner-image.jpeg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(
      90.21deg,
      rgba(170, 54, 124, 0.5) -5.91%,
      rgba(74, 47, 189, 0.5) 111.58%
    );
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }

  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .banner a {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .banner a svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner a:hover svg {
    margin-left: 25px;
  }
  
  .stars{
    z-index: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 4px;
    height: 4px;
    background:  linear-gradient(90deg, rgba(138, 159, 245, 0.3) 40%, rgba(140, 218, 248, 0.3) 80%);;
    border-radius: 50%;
    box-shadow: 0 0 6px 1px rgba(104, 171, 231, 0.715), 0 0 6px 1px rgba(63, 78, 182, 0.5);
    filter: blur(0.5px);
    animation: animate 3s linear infinite;
  }

  .stars::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background: linear-gradient(90deg, rgba(107, 158, 241, 0.215), transparent);
 }

  .stars:nth-child(1){
    top: 0;
    right: 0;
    animation-duration: 5s;
    animation-delay: 1s;
  }
  .stars:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-duration: 7s;
    animation-delay: 3s;
  }
  .stars:nth-child(3){
    top: 80px;
    right: 120px;
    left: initial;
    animation-duration: 4s;
    animation-delay: 2s;
  }
  .stars:nth-child(4){
    top: 0px;
    right: 180px;
    left: initial;
    animation-duration: 6s;
    animation-delay: 2s;
  }
  .stars:nth-child(5){
    top: 160px;
    right: 90px;
    left: initial;
    animation-duration: 8s;
    animation-delay: 2s;
  }

  @keyframes animate {
    0% {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
    }
    70%{
      opacity: 1;
    }
    100% {
      transform: rotate(315deg) translateX(-1000px);
      opacity: 0;
    }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }