.footer {
    padding: 10px;
    align-items: center;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer img {
    width: 20%;
    height: 20%;
}

.social-icon {
    display: inline-block;
    margin-left: 14px;
  }
  .social-icon a {
    color: white;
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.4s ease-in-out;
  }

  .social-icon .instagram::before {
    background: radial-gradient(
      circle at 33% 100%,
      #fed373 4%,
      #f15245 30%,
      #d92e7f 62%,
      #9b36b7 85%,
      #515ecf
    );
  }

  .social-icon .linkedin::before {
    background: rgb(10, 102, 194);
  }

  .social-icon a:hover::before {
    transform: scale(1);
  }

  .social-icon a .linkedin,
  .social-icon a .instagram,
  .social-icon a .githublogo {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
  .social-icon a:hover .linkedin,
  .social-icon a:hover .instagram {
    color: #fff;
  }

  .social-icon a:hover .githublogo {
    color: black;
  }

.footer p {
    font-weight: 400;
    font-size: 14px;
    color: #BBBBBB;
    letter-spacing: 0.5px;
    margin-top: 20px;
}