.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .contact_option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.2rem;
    overflow: hidden;
    text-align: center;
    border: none;
    transition: var(--transition);
    z-index: 1;
  }
  
  .contact_option:hover {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
    overflow: hidden;
  }
  
  .contact_option_icon {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .contact_option p {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
  }
  
  /* ===== MEDIA QUERIES (MEDIUM DEVICES) ===== */
  
  @media screen and (max-width: 1024px) {
    .container.contact_container {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  
  /* ===== MEDIA QUERIES (SMALL DEVICES) ===== */
  
  @media screen and (max-width: 600px) {
    .container.contact_container {
      width: var(--container-width-sm);
    }
  }
  